@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Fruktur&family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&family=Raleway:ital@0;1&family=Ubuntu:wght@400;500;700&family=Urbanist:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 20px;
  text-align: center;
}

.lightBlue {
  background-color: #3498db;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c3e50;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  color: #2c3e50;
  background-color: #ecf0f1;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  color: #ecf0f1;
  background-color: #2c3e50;
}

.change_color_area {
  margin: 30px;
}

.slider_area {
  margin: 10px;
}

.slideContainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

span {
  font-weight: 700;
}
